body {
  background-color: #f0f0f0;
  width: 100%;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
.pokemon-img {
  width: 10rem!important;
}
/* scroll bar fora da page */
::-webkit-scrollbar {
  width: 0rem;
  /* scroll fixed */
  
}